<form action="/ballot" method="get">
	<fieldset>
  		<h6>Find out who and what is on <strong>your ballot</strong>!</h6>
  		<input type="text" name="zip" class="comments" placeholder="Enter your ZIP code.">
  		<input class="button" type="submit" name="ZIPcodeSubmit" value="Tell me!">
  	</fieldset>
</form>



						
