<div class="grid-single grid-single-pad"> <!-- main wrapper -->
	<a href="/"><img src="/assets/myBallotLogo.png" alt="My Ballot Chicago Logo" class="logo"></a>
	<div class="col-single"> <!-- Single Col -->
		<h2 class="pageTitle">Who is MyBallot?</h2> 

		<section class="contentBox Positions About">
		<h1>Our Mission</h1>
		<p>Chocolate cake cupcake pie ice cream bear claw. Candy cake topping pudding oat cake oat cake biscuit apple pie. Chocolate bar cookie jujubes applicake tart liquorice. Pastry gummi bears oat cake brownie jujubes dragée jelly-o. </p>
		</section>

		<section class="contentBox Positions About">
		<h1>Our Team</h1>

		<section class="clearfix teambio">
		<img src="/assets/bobbilee.jpg" class="teamphoto">
		<section class="person-info team"><h3 class="team">Bobbilee Hartman</h3>
		<p>Chocolate cake cupcake pie ice cream bear claw. Candy cake topping pudding oat cake oat cake biscuit apple pie. Chocolate bar cookie jujubes applicake tart liquorice. Pastry gummi bears oat cake brownie jujubes dragée jelly-o. </p></section>
		</section>
		
		<section class="clearfix teambio">
		<img src="/assets/DN_ID.png" class="teamphoto">
		<section class="person-info team"><h3 class="team">Debi Nafis</h3>
		<p>Chocolate cake cupcake pie ice cream bear claw. Candy cake topping pudding oat cake oat cake biscuit apple pie. Chocolate bar cookie jujubes applicake tart liquorice. Pastry gummi bears oat cake brownie jujubes dragée jelly-o. </p></section>
	</section>
		
	<section class="clearfix teambio">
	<img src="/assets/russell.jpg" class="teamphoto">
		<section class="person-info team"><h3 class="team">Russell Schoenbeck</h3>
		<p>Chocolate cake cupcake pie ice cream bear claw. Candy cake topping pudding oat cake oat cake biscuit apple pie. Chocolate bar cookie jujubes applicake tart liquorice. Pastry gummi bears oat cake brownie jujubes dragée jelly-o. </p></section>
	</section>

	<section class="clearfix teambio">
	<img src="/assets/karen.jpg" class="teamphoto">
		<section class="person-info team"><h3 class="team">Karen Sullivan</h3>
		<p>Karen studied Web Development (Ruby on Rails) and HTML/CSS in the Fall 2012 Class at The Starter League. She is a digital project manager at an ad agency and works with developers all over the world. She lives in Alabama and is a compulsive neat freak.</p></section>
	</section>
</section>

	<section class="contentBox Positions About">
	<h1>About Starter League</h1>
	<p>Chocolate cake cupcake pie ice cream bear claw. Candy cake topping pudding oat cake oat cake biscuit apple pie. Chocolate bar cookie jujubes applicake tart liquorice. Pastry gummi bears oat cake brownie jujubes dragée jelly-o. </p>
	<p><a href="http://www.thestarterleague.com">The Starter League</a></p></section>

	</div> <!-- End Single Col -->
</div> <!-- end main wrapper -->
