<div class="grid-single grid-single-pad"> <!-- main wrapper -->
	<a href="/"><img src="/assets/myBallotLogo.png" alt="My Ballot Chicago Logo" class="logo"></a>
	<div class="col-single"> <!-- Single Col -->
		<h2 class="pageTitle">Who is MyBallot?</h2> 

		<div class="aboutLinks">
			<a class="button" href="http://www.starterleague.com/" target="blank">The Starter League</a>
		</div>

	</div> <!-- End Single Col -->
</div> <!-- end main wrapper -->
