<div class="grid-single grid-single-pad"> <!-- main wrapper -->
	<a href="/"><img src="/assets/myBallotLogo.png" alt="My Ballot Chicago Logo" class="logo"></a>
	<div class="col-single"> <!-- Single Col -->
		<h2 class="pageTitle">Who is MyBallot?</h2> 

		<section class="contentBox Positions About">
		<h1>Our Mission</h1>
		<p>We know that voting can be overwhelming--even if you know what you're doing, but especially if you're newly registered. MyBallot, created by four Starter League students passionate about civic engagement, aims to assist first-time and inexperienced voters, but it's a great tool for anyone looking to make informed decisions in the booth on election day. Every visitor can enter a ZIP code to find out who will be on his or her ballot, including local and judicial races. Registered users can take notes and save their choices to create a custom voting guide. </p>
		</section>

		<section class="contentBox Positions About">
		<h1>Our Team</h1>

		<section class="clearfix teambio">
		<img src="/assets/bobbilee.jpg" class="teamphoto">
		<section class="person-info team"><h3 class="team">Bobbilee Hartman</h3>
		<p><a href="http://www.bobbileehartman.com">Website</a> | <a href="http://wwww.twitter.com/bhartman19">Twitter</a></p>
		<p>Bobbilee came to The Starter League with basic HTML/CSS skills and now after taking the Web Dev class she can develop full blown rails backed web apps! Before TSL she worked as a designer and social media marketer at a small tech startup in Madison, WI. Born in Minneapolis; grew up playing ice hockey and it's a rare day if you don't see her eating carrots and kale.</p></section>
		</section>
		
		<section class="clearfix teambio">
		<img src="/assets/DN_ID.png" class="teamphoto">
		<section class="person-info team"><h3 class="team">Debi Nafis</h3>
		<p><a href="http://www.debinafis.com">Website</a> | <a href="http://wwww.twitter.com/fluff_fluff">Twitter</a></p>
		<p>Debi is a former Girl Scout and an avid viewer of The Daily Show and Parks &amp; Recreation, and therefore takes civic responsibility extremely seriously. She dressed up for Election Day this year like it was a national holiday (which it should be). Debi studied HTML/CSS at The Starter League this fall and works as a graphic designer for a local trade publishing company. She's always on the lookout for interesting side projects, so say hello if you need design help! She lives in Wicker Park.</p></section>
	</section>
		
	<section class="clearfix teambio">
	<img src="/assets/russell.jpg" class="teamphoto">
		<section class="person-info team"><h3 class="team">Russell Schoenbeck</h3>
		<p>Chocolate cake cupcake pie ice cream bear claw. Candy cake topping pudding oat cake oat cake biscuit apple pie. Chocolate bar cookie jujubes applicake tart liquorice. Pastry gummi bears oat cake brownie jujubes dragée jelly-o. </p></section>
	</section>

	<section class="clearfix teambio">
	<img src="/assets/karen.jpg" class="teamphoto">
 
		<section class="person-info team"><h3 class="team">Karen Sullivan</h3>
			<p><a href="http://karen.railsyeah.com">Website</a> | <a href="http://www.twitter.com/karenjsullivan">Twitter</a></p>
		<p>Karen studied Web Development (Ruby on Rails) and HTML/CSS in the Fall 2012 Class at The Starter League. She is a digital project manager at an ad agency and works with developers all over the world. She lives in Alabama and is a compulsive neat freak.</p></section>
	</section>
</section>

	<section class="contentBox Positions About">
	<h1>About Starter League</h1>
	<p>People from all over the world come to Starter League learn how to code, design, and ship web apps. We offer classes in web development, HTML and CSS at both beginner and advanced levels, user experience design, and visual design. We believe having the motivation to build something you care about is the best way to learn. Being a starter means you have a penchant to make the world a better place through technology, design and business.</p>

	<p>We are located in Chicago's new 50,000 sq ft. startup hub located inside the Merchandise Mart. 1871 is a co-working center for Chicago's brightest digital designers, engineers and entrepreneurs. </p>
	<p><a href="http://www.thestarterleague.com">The Starter League</a></p></section>

	</div> <!-- End Single Col -->
</div> <!-- end main wrapper -->
