<div class="grid-single grid-single-pad"> <!-- main wrapper -->
	<img src="/assets/myBallotLogo.png" alt="My Ballot Chicago Logo" class="logo">
	<div class="col-single"> <!-- Single Col -->
	    <section class="homeContentBox"> <!-- Box -->
			<%= render 'form' %>
			<!-- <p class="error">Please enter a valid ZIP code!</p> -->
		</section> <!-- end Box -->
		<div class="FindRegister">
			<a class="button" href="http://www.elections.il.gov/votinginformation/registrationlookup.aspx" target="_blank">Find your polling location</a>
			<a class="button" href="http://www.elections.il.gov/votinginformation/register.aspx" target="blank">Register to vote</a>
		</div>
	</div> <!-- End Single Col -->
</div> <!-- end main wrapper -->





