<div class="grid-single grid-single-pad"> <!-- main wrapper -->
	<a href="/"><img src="/assets/myBallotLogo.png" alt="My Ballot Chicago Logo" class="logo-single"></a>
	<div class="col-single"> <!-- Single Col -->
		<h2 class="pageTitle">Additional Resources</h2> 

		<section class="contentBox Positions">
		<h1>MyBallot Resources</h1>
		<p><a href="#">Candidates index</a></p>
		<p><a href="#">Positions index</a></p>
		</section>


		<section class="contentBox Positions">
		<h1>Chicago Board of Elections</h1>
		<p>Carrot cake ice cream bear claw applicake bonbon croissant powder chocolate bar sesame snaps. Faworki chocolate sesame snaps chupa chups. Cupcake caramels cake. Gummi bears cheesecake gingerbread candy sweet roll cookie halvah danish bear claw. Apple pie tootsie roll dessert oat cake biscuit.</p>
		<p><a href="#">Official sample ballot</a></p>
		</section>

		<section class="contentBox Positions">
		<h1>Endorsements</h1>
		<p><a href="#">Chicago Tribune</a></p>
		<p><a href="#">The Daily Herald</a></p>
		</section>

		<section class="contentBox Positions">
		<h1>Judicial Recommendations</h1>
		<p>Carrot cake ice cream bear claw applicake bonbon croissant powder chocolate bar sesame snaps. Faworki chocolate sesame snaps chupa chups. Cupcake caramels cake. Gummi bears cheesecake gingerbread candy sweet roll cookie halvah danish bear claw. Apple pie tootsie roll dessert oat cake biscuit.</p>
		</section>

		<section class="contentBox Positions">
		<h1>Long-form Election Guides</h1>
		<p><a href="#">Cake ice cream bear claw</a></p>
		<p><a href="#">Cupcake caramels cake</a></p>
		</section>


		<div class="FindRegister">
			<a class="button" href="http://www.elections.il.gov/votinginformation/registrationlookup.aspx" target="_blank">Find your polling location</a>
			<a class="button" href="http://www.elections.il.gov/votinginformation/register.aspx" target="blank">Register to vote</a>
		</div>
	</div> <!-- End Single Col -->
</div> <!-- end main wrapper -->

