<div class="grid-single grid-single-pad"> <!-- main wrapper -->
	<a href="/"><img src="/assets/myBallotLogo.png" alt="My Ballot Chicago Logo" class="logo-single"></a>
	<div class="col-single"> <!-- Single Col -->
		<h2 class="pageTitle">Additional Resources</h2> 

		<section class="contentBox Positions">
		<h1>MyBallot Resources</h1>
		<p><a href="/positions">Positions index</a></p>
		</section>


		<section class="contentBox Positions">
		<h1>Chicago Board of Elections</h1>
		<p><a href="http://www.chicagoelections.com/page.php?id=164">Frequently Asked Questions</a></p>
		<p><a href="http://www.chicagoelections.com/page.php?id=8">Voter information</a></p>
		<p><a href="http://www.chicagoelections.com/page.php?id=9"> Early Voting</a></p>
		<p><a href="http://www.chicagoelections.com/page.php?id=169"> 
Absentee Voting/Voting By Mail</a></p>
		<p><a href="http://www.chicagoelections.com/page.php?id=163">Official sample ballots</a></p>
		<p><a href="http://www.chicagoelections.com/election3.asp?change_language=en">Database of previous election results</a></p>
		</section>

		<section class="contentBox Positions">
		<h1>Endorsements</h1>
		<p><a href="http://elections.chicagotribune.com/editorial/">Chicago Tribune</a></p>
		<p><a href="http://www.dailyherald.com/article/20121105/discuss/710299948/">The Daily Herald</a></p>
		<p><a href="http://www.iviipo.org/2012Endorsements.html">Independent Voters of Illinois Independent Precint Organization (IVI-IPO)</a></p>
		</section>

		<section class="contentBox Positions">
		<h1>Judicial Evaluations</h1>
		<p><a href="http://voteforjudges.org/">VoteForJudges.org</a></p>

		<p>Several bar groups in the Chicago area interview the judicial candidates and evaluate their experience and temperament. View their findings and/or recommendations below:</p>
		<ul>
			<li><a href="http://voteforjudges.org/2012_GENERAL_ELECTION_RATINGS_from_the_Alliance.pdf">Alliance of Bar Associations for Judicial Screening (PDF)</a></p>
		<p><a href="http://www.chicagocouncil.org/news/view/34">Chicago Council of Lawyers</a></p>
		<p><a href="http://voteforjudges.org/Judicial_Performance_Commission_2012_Report_Final_for_Distribution.pdf">Judicial Performance Commission of Cook County (PDF)</a></p>
		<p><a href="http://www.chicagobar.org/AM/NavigationMenu/Services/Judicial_Evaluation/default.htm">Chicago Bar Association</a></p>

		</section>

		<section class="contentBox Positions">
		<h1>Other Election Guides</h1>
		<p><a href="http://gapersblock.com/mechanics/bottom-of-the-ballot/">Gaper's Block "Bottom of the Ballot" series</a></p>
		</section>


		<div class="FindRegister">
			<a class="button" href="http://www.elections.il.gov/votinginformation/registrationlookup.aspx" target="_blank">Find your polling location</a>
			<a class="button" href="http://www.elections.il.gov/votinginformation/register.aspx" target="blank">Register to vote</a>
		</div>
	</div> <!-- End Single Col -->
</div> <!-- end main wrapper -->

