/*RESET BEGIN*/
	/* http://meyerweb.com/eric/tools/css/reset/ 
	   v2.0 | 20110126
	   License: none (public domain)
	*/
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		text-decoration: none;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
/*RESET END*/



/*NEW STYLES BEGIN*/



/*CLEARFIX BEGIN*/
.clearfix:after {
	clear: both;
	content: " ";
	display: block;  
	height: 0;
	line-height: 0;
	visibility: hidden;
}
/*CLEARFIX END*/


/*BODY BEGIN*/
	body {
		background: #cde4f4 url("grid.png");
		font-family: 'Droid Sans', sans-serif;
		font-size: 16px;
		line-height: 140%;
		color: rgba(0, 0, 0, .75);
		text-shadow: 1px 1px white;
		}
/*BODY END*/


/* NAV & FOOTER BEGIN*/
	nav, footer {
		width: 100%;
		z-index: 99;
		text-align: center;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
		text-transform: lowercase;
		}

	nav {
		background-color: #d2232a;
		top: 0;
		position: fixed;
	}

	footer {
		bottom: 0;
		background-color: #3380b8;
	}

	nav li, footer li {
		display: inline-block;
		color: white;
		font-weight: normal;
		font-size: 14px;
		text-shadow: 1px 1px rgba(0, 0, 0, .1);
		padding: 10px 30px 10px 20px;
		background: url("star.png") no-repeat 0 50%;
		}

	nav li:last-child, footer li:last-child {
		margin-right: 0;
		padding-right: 0;
		}

	nav a, footer a {
		color: white;
		}

	nav .logo {
		float: left;
		margin-left: 40px;
	}
/* NAV & FOOTER END*/

/*LAYOUT BEGIN*/

.grid {
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, .1);
	border-radius: 10px;
	margin: 25px;
	}

.grid:after {
  	content: "";
  	display: table;
  	clear: both;
	}

.grid-pad {
  	padding: 60px 25px 25px 25px;
	}

.grid-single {
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, .1);
	border-radius: 10px;
	margin: 25px;
	}

.grid-single:after {
  	content: "";
  	display: table;
  	clear: both;
	}

.grid-single-pad {
  	padding: 50px 25px 25px 25px;
	}

*, *:after, *:before {
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
	}

.col-1-3 .candidates:last-child,
.col-2-3 .office:last-child .candidates:last-child,
.col-3-3 .candidates:last-child {
	margin-bottom: 0;
	}

.col-3-3 .contentBox:last-child
 {
	margin-bottom: 0;
	}


.col-single .contentBox {
	padding-top: 20px;
	margin-bottom: 0;
}




/*LAYOUT END*/

.contentBox {
	background: rgba(255, 255, 255, 0.5);
	box-shadow: inset 2px 2px 0 rgba(255, 255, 255, .1), 
				2px 2px 0 rgba(255, 255, 255, .7);
	margin-bottom: 25px;
	padding: 20px;
	border-radius: 10px;
	}

.candidates {
	margin-top: 10px;
	margin-bottom: 15px;
	}


/*TEXT BEGIN*/
h1, h2, h3, h4, h5, b, strong {
	font-weight: bold;
	}

h1 {
	font-size: 20px;
	line-height: 120%;
}

h1, h2 {
	margin: 5px 0 20px 0;
	color: #d2232a;
	}

h2 {
	font-size: 24px;
	padding-bottom: 20px;
 	border-bottom: 1px solid rgba(0, 0, 0, .1);
 	position: relative;
	}

h2:after {
  content:'';
    position:absolute;
    bottom:-2px;
    left:0;
    right:0;
    border-bottom:1px solid rgba(255, 255, 255, .9);
	}

h3 {
	font-size: 19px;
	position: relative;
	}

h4, h5 {
	font-size: 14px;
	}

a {
	color: #3380b8
	}

.party {
	font-size: 12px;
	font-style: italic;
	display: inline block;
	padding-left: 5px;
	margin-bottom: 10px;
	}

.district {
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	display: inline block;
	margin-bottom: 10px;
	}


/*TEXT END*/


/*LOGO BEGIN*/


.logo {
	display: block;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 0 30px 0;
	}

.logo-single {
	display: block;
	width: 300px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 0 30px 0;
	}


/*LOGO END*/

/*PROFILE BEGIN*/

.profile {
	padding: 25px 0;	
	margin: 0 auto 5px auto;
	border-top:1px solid rgba(255, 255, 255, .9);
 	border-bottom:1px solid rgba(0, 0, 0, .1);
 	position: relative;
 	font-size: 14px;
 	line-height: 140%;
}

.profile:after {
  	content:'';
    position:absolute;
    bottom:-2px;
    left:0;
    right:0;
    border-bottom:1px solid rgba(255, 255, 255, .9);
}

.profile:before {
  	content:'';
    position:absolute;
    top: -2px;
    left:0;
    right:0;
    border-top:1px solid rgba(0, 0, 0, .1);
}

.profile ul {
	margin-top: 12px;
}

.profile li {
	margin-bottom: 5px;
}

.profile li:last-child {
	margin-bottom: 0;
}

	/*PERSON BEGIN*/

	.idphoto {
		display: block;
		float: left;
		margin: 0;
		border-radius: 6px;
		box-shadow: 2px 2px 1px rgba(255, 255, 255, .7);
	}

	.person-info {
		padding-left: 135px;
	}
	/*PERSON END*/

	/*COUNTER BEGIN*/

	.voteCounter {
	text-align: center;
	font-weight: bold;
	}

	.number {
	color: #99c7e8;
	font-size: 100px;
	line-height: 100%;
	margin: 5px 0 10px 0;
	text-shadow: 1px 2px white;
	border-bottom:1px dashed rgba(0, 0, 0, .1);
 	position: relative;
	}

	/*COUNTER END*/

/*PROFILE END*/

/*COMMENT SLIDER BEGIN*/

	.slideContent {
		height: 225px;
		display: none;
		text-align: center;
		}

	.comments {
		width: 100%;
		height: 180px;
		margin: 0;
		padding: 15px;
		border-radius: 10px;
		border: none;
		box-shadow: inset 1px 1px 0px rgba(0, 0, 0, .05), 
					inset 2px 2px 6px rgba(0, 0, 0, .05), 
					2px 2px 0 rgba(255, 255, 255, .3),
					inset -1px -1px 0px rgba(0, 0, 0, .05); 
				
		background-color: rgba(255, 255, 255, .6);
		overflow:auto;

		/*text style*/
		font-family: 'Droid Sans', sans-serif;
		font-size: 14px;
		color: rgba(0, 0, 0, .3);
		}

	.saveBtn {
		display: block;
		margin-top: 15px;
		font-weight: bold;
		color: #d2232a;
		}
	 
	.slideBtn {
		font-size: 14px;
		text-align: center;
		font-weight: bold;
		display: block;
		color: #d2232a;
		margin: 0 auto 10px auto;
		padding: 0;
		border-top:1px solid rgba(255, 255, 255, .9);
	 	position: relative;
		}

	.slideBtn:last-of-type {
		margin-bottom:-5px;
		}

	.slideBtn:after {
	  content:'';
	    position:absolute;
	    top:-2px;
	    left:0;
	    right:0;
	    border-top: 1px solid rgba(0, 0, 0, .1);
		}

/*COMMENT SLIDER END*/

/*BIO STYLES BEGIN*/

	.bio li {
		margin-bottom: 12px;
	}

	.bio li:last-child {
		margin-bottom: 0;
	}

	.biophoto {
		float: right;
		margin: 5px 0 15px 30px;
		border-radius: 6px;
		box-shadow: 2px 2px 1px rgba(255, 255, 255, .7);
	}

/*END BIO STYLES*/


/*THIS IS A FAKE STYLE AND PLEASE DELETE LATER END*/



/*MEDIA QUERIES BEGIN*/

@media all and (min-width: 990px) and (max-width: 1500px) {
	
	/*text styles*/
	.party {
		display: block;
		padding: 0;
		line-height: 100%;
		}

	}

@media all and (min-width: 1200px) and (max-width: 1500px) {

	.profile {
		width: 85%;
		margin: 0 auto;
	}
}

@media all and (min-width: 990px) {
	
	/*three-column layout*/	

	.grid-pad {
	  	padding: 60px 25px 0 25px;
		}

	.col-1-3,
	.col-2-3,
	.col-3-3 {
		float:left;
		width: 34%;
	  	padding-right: 25px;
	  	padding-top: 25px;
	  	margin-bottom: 0;
		}

	.col-3-3 {
		width: 32%;
		padding-right: 0;
		}

	.grid-single {
		width: 850px;
		margin-left: auto;
		margin-right: auto;
		}

	.grid-single-pad {
	  	padding: 50px 25px 25px 25px;
		}

	/*profile*/
	.profile{
		padding: 25px 0;
		}

	.person {
		float: left;
		width: 45%;
		padding-right: 25px;
		border-right: 1px dashed rgba(0, 0, 0, .1);
		}

	.voteCounter {
		float: left;
		width: 20%;
		padding: 0 25px;
		}

	.calendar {
		float: right;
		width: 35%;
		padding-left: 25px;
		border-left: 1px dashed rgba(0, 0, 0, .1);
		}



	}

@media all and (min-width: 660px) and (max-width: 989px) {
	
	/*one-column layout*/
	.grid {
		width: 660px;
		margin-left: auto;
		margin-right: auto;
		}

	.col-single .contentBox {
	margin-bottom: 0;
		}

	}


@media all and (max-width: 989px) {

	.profile {
		margin-bottom: 30px;
		}

	.person {
		padding-bottom: 25px;
		margin-bottom: 25px;
		border-bottom: 1px dashed rgba(0, 0, 0, .1);
		}

	.voteCounter {
		padding-left: 25px;
		border-left: 1px dashed rgba(0, 0, 0, .1);
		margin-left: 25px;
		float: right;
		}

	.calendar {
		padding-right: 25px;
		}
}

@media all and (min-width: 660px) and (max-width: 710px) {
	.grid-single {
		width: 660px;
		margin-left: auto;
		margin-right: auto;
		}

	}

@media all and (max-width: 660px) {

	/*layout*/	

	.grid {
		margin: 0px;
		border-radius: 0;
		}

	.grid-pad {
		padding: 75px 20px 20px 20px;
		}

	.contentBox {
		margin-bottom: 20px;
		}

	.grid-single {
		margin: 0px;
		border-radius: 0;
		}

	.grid-single-pad {
		padding: 75px 20px 20px 20px;
		}

	/*logo*/
	.logo {
		width: 90%;
	}

	}

@media all and (max-width: 450px){
		/*text styles*/
	.party {
		display: block;
		padding: 0;
		line-height: 100%;
		}
	
}

/*MEDIA QUERIES END*/






